{% extends "base.html" %}

{% block title %}Створити власника{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto mt-10 bg-white shadow rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4">Створити нового власника</h2>

    <form method="post" class="space-y-4">
        {% csrf_token %}

        <div>
            <label class="block mb-1 font-medium">Ім'я</label>
            {{ form.first_name|add_class:"border rounded w-full p-2" }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Прізвище</label>
            {{ form.last_name|add_class:"border rounded w-full p-2" }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Телефон</label>
            {{ form.phone|add_class:"border rounded w-full p-2" }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Email</label>
            {{ form.email|add_class:"border rounded w-full p-2" }}
        </div>

        <div>
            <label class="block mb-1 font-medium">Telegram профіль</label>
            {{ form.telegram_link|add_class:"border rounded w-full p-2" }}
        </div>

        <div class="flex items-center gap-2 mt-2">
            {{ form.is_active_telegram }}
            <label class="text-sm">Telegram активний?</label>
        </div>

        <button class="bg-green-600 text-white px-4 py-2 rounded-md mt-4 hover:bg-green-700">
            Створити
        </button>
    </form>
</div>
{% endblock %}
